build
CMakeFiles
CMake
_deps
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
Makefile
bin/gpo_proyecto_final
libs/assimp/contrib/zlib/zconf.h
libs/assimp/lib/libassimpd.a
libs/assimp/include/assimp/revision.h
libs/assimp/contrib/zlib/libzlibstaticd.a
